.dashboard {
  display: flex;
  &__data {
    padding: 40px;
    width: calc(100% - 500px);
    h2 {
      padding-bottom: 40px;
    }
  }
  &__container {
    background-color: #061026;
    border-radius: 20px;
    padding: 40px;
  }
  table {
    padding-bottom: 30px;
    thead {
      th {
        text-align: left;
        padding: 15px 0;
      }
      span {
        font-size: 11px;
        display: block;
        padding-top: 3px;
        font-weight: normal;
      }
    }
    tbody {
      td {
        font-size: 14px;
        padding: 4px 0;
        a {
          color: #b0bdff;
          text-decoration: underline;
        }
      }
    }
    .footable-pagination-wrapper {
      padding-top: 30px;
    }
  }
}

@import
"main",
"parts/sidebar",
"parts/sidebar-statistic";