/**
 * Footer
 */

footer {
  padding: 10px 0 40px;
  color: rgba(255, 255, 255, 0.5);
  a {
    color: white;
    font-size: 16px;
    opacity: .5;
    transition: .3s;
    &:hover {
      transition: .3s;
      opacity: 1;
    }
  }
  .footer-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .social-navigation {
      display: flex;
      align-items: center;
      .social-navigation-list {
        display: flex;
        list-style: none;
        margin-left: 20px;
        li {
          padding: 0 10px;
        }
      }
      .follow {
        display: flex;
        align-items: center;
        &::after {
          content: '';
          width: 30px;
          height: 1px;
          margin-top: 3px;
          margin-left: 8px;
          background-color: white;
          opacity: .6;
        }
      }
    }
  }
  nav ul {
    display: flex;
    list-style: none;
  }
  .footer-menu-navigation {
    li {
      padding: 0 10px;
      margin: 0 20px;
    }
  }
  .copyright {
    opacity: .4;
    font-size: 14px;
    padding-top: 30px;
  }

  .footer-home {
    .social-navigation {
      justify-content: flex-end;
    }
  }
  .footer-default {
    padding-top: 120px;
    .social-navigation {
      justify-content: flex-end;
    }
  }
}