/**
 * Header
 */
header {
  padding: 10px 0;
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  ul.menu {
    padding-left: 70px;
    display: flex;
    list-style: none;
    li {
      margin: 0 20px;
      padding: 7px 10px; 
      opacity: .8;
      transition: .3s;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        display: block;
        height: 2px;
        width: 0;
        background-color: white;
        transition: .3s;
        bottom: 0;
        left: 0;
      }
      &:hover{
        transition: .3s;
        opacity: 1;
        &::after{
          width: 100%;
          transition: .3s;
        }
      }
    }
  }
  .logged-in &{
    background-color: black;
    z-index: 50;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
  }
  .logged-in.admin-bar &{
    top: 32px;
  }
  .user-menu{
    height: 50px;
    position: relative;
    text-align: right;
    &.hidden{
      overflow: hidden;
    }
    .user-avatar{
      cursor: pointer;
      border-radius: 25px;
      height: 50px;
      width: 50px;
      object-fit: cover;
    }
    .menu-list{
      list-style: none;
      padding-top: 10px;
      border: 1px solid black;
      li{
        padding: 7px 15px;
        background-color: #040C1D;
        transition: .3s;
        //border-bottom: 1px dashed #061026;
        &:hover{
          transition: .3s;
          background-color: #081430;
        }
        a{
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }
    }
  }
}