aside.sidebar{
  &.sidebar-radio-type{
    width: 15%;
    float: left;
  }
  ul{
    list-style: none;
    li {
      padding: 5px 0;
      margin-bottom: 5px;
    }
  }
  h4 {
    padding: 15px;
  }

  a{
    opacity: .8;
    transition: .3s;
    padding: 5px 15px;
    &:hover {
      transition: .3s;
      opacity: 1;
    }
    &.active{
      opacity: 1;
      background-color: $green;
      border-radius: 20px;
      display: table;
    }
  }
}