section.station-popup{
  position: fixed;
  //top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 80;
  background-color: $background__main;
  opacity: 1;
  visibility: visible;
  transition: .4s;
  .main-image{
    height: calc(100vh - 80px);
    transition: .5s;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .song-data{
    height: 100px;
    background-color: black;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    .data{
      width: 25%;
      display: flex;
      align-items: center;
    }
    .buttons-main{
      width: 15%;
      display: flex;
      justify-content: space-around;
      &[data-status=play]{
        button.player-play-radio{
          display: none;
        }
      }
      &[data-status=stop]{
        button.player-stop-radio{
          display: none;
        }
      }
    }
    .buttons-helper{
      &[data-compress=compress]{
        button.expand-station-popup{
          display: none;
        }
      }
      &[data-compress=expand]{
        button.compress-station-popup{
          display: none;
        }
      }
    }

    .duration{
      text-align: center;
      width: 45%;
    }
    .buttons-helper{
      width: 15%;
      display: flex;
      justify-content: space-between;
    }
    .audio-status{
      padding: 0 50px;
      display: flex;
      align-items: center;
      .title{
        &::before{
          content: '';
          height: 6px;
          width: 6px;
          border-radius: 3px;
          margin-right: 8px;
          background-color: $green;
          animation: radioLive 2s;
          animation-iteration-count: infinite;
        }
        display: flex;
        align-items: center;
        color: #585858;
        font-size: 13px;
        font-family: "Montserrat", "Arial", sans-serif;
        margin-right: 20px;
        //text-transform: uppercase;
        letter-spacing: 1px;
      }
      .audio-duration{
        width: 100%;
        height: 2px;
        border-radius: 3px;
        background-color: #585858;
      }
    }
    img{
      height: 60px;
      width: 60px;
      object-fit: cover;
      border-radius: 6px;
    }
    .description{
      padding-left: 40px;
      padding-right: 60px;
      h5{
        font-size: 16px;
        padding-bottom: 5px;
      }
      h6{
        font-size: 14px;
        opacity: .5;
      }
    }
    button{
      margin: 0;
      padding: 0;
      outline: none;
      border: none;
      height: 50px;
      width: 50px;
      background-color: transparent;
      display: flex;
      transition: .4s;
      cursor: pointer;
      align-items: center;
      border-radius: 25px;
      justify-content: center;
      i{
        color: white;
        opacity: .8;
        transition: .4s;
      }
      &:hover,
      &.open{
        transition: .4s;
        background-color: $green;
        i{
          transition: .4s;
          opacity: 1;
        }
      }
      &.player-volume{
        position: relative;
        .player-volume-range{
          display: none;
          position: absolute;
          top: 22px;
          width: 60px;
          left: -50px;
          transform: rotate(270deg);
        }
        &.open{
          .player-volume-range{
            display: block;
          }
        }
      }
    }
  }
  &.hidden-data{
    opacity: 0;
    visibility: hidden;
    transition: .4s;
  }
  &.compress{
    height: auto;
    top: auto;
    .main-image{
      height: 0;
      transition: .5s;
    }
  }
}