#popup-avatars {
  form {
    &::after {
      content: '';
      display: block;
      clear: both;
    }
   .form-field {
     width: 20%;
     float: left;
     height: 150px;
     label {
       height: 100%;
       width: 100%;
       padding: 10px;
       cursor: pointer;
       position: relative;
       img {
         max-width: 100%;
         max-height: 100%;
       }
       span {
         display: none;
         font-size: 26px;
         position: absolute;
         top: 20px;
         right: 20px;
         color: $green;
       }
     }
     input {
       display: none;
     }
     input:checked + label {
       span {
         display: block;
       }
     }
   }
  }
}