/**
 * Popup
 */

body.modal-is-open{
  overflow: hidden;
}

body.popup-search {
  main {
    filter: blur(2px);
    opacity: .35;
    transition: .3s;
  }
  section.popup .popup-container {
    top: 10px;
    height: calc(100% - 80px);
  }
}

section.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: .4s;

  &.with-header {
    transition: 0s !important;
    top: 140px;
  }

  &.open{
    opacity: 1;
    visibility: visible;
    transition: .4s;
  }

  .popup-container{
    position: relative;
    width: 100%;
    top: 70px;
    height: calc(100% - 140px);
    //overflow: auto;
  }

  .popup-data {
    h4{
      font-family: $monserrat;
      font-size: 50px;
      line-height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 20px;
      text-transform: uppercase;
      .step{
        padding-left: 12px;
        font-size: 36px;
        letter-spacing: 4px;
        position: relative;
        bottom: 32px;
      }
      i{
        font-style: normal;
        opacity: .3;
      }
    }
    h5{
      font-size: 32px;
      line-height: 40px;
      font-family: $monserrat;
      padding-bottom: 20px;
    }
    h6{
      font-size: 24px;
      line-height: 30px;
      font-family: $monserrat;
      padding-bottom: 20px;
    }
  }

  article {
    position: absolute;
    overflow: auto;
    max-height: 100%;
    border-radius: 8px;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-60px);
    opacity: 0;
    visibility: hidden;
    padding: 40px;
    transition: .4s;
    &.active{
      transform: translateY(-50%);
      transition: .4s;
      opacity: 1;
      visibility: visible;
    }
    &.small {
      max-width: 620px;
    }
    &.medium {
      max-width: 740px;
    }
    &.max{
      max-width: 840px;
    }
    &.bg__default{
      background-color: $popup_bg;
    }
    &.bg__content{
      background-color: $popup_bg_content;
    }
  }

  form{
    label{
      display: block;
      padding-bottom: 8px;
      font-size: 18px;
      color: #A2A2A2;
      opacity: .8;
    }
    textarea,
    input {
      &[type = text],
      &[type = password]{
        width: 100%;
        line-height: 60px;
        padding: 0 20px;
        outline: none;
        border: none;
        border-radius: 6px;
      }
    }
    textarea {
      width: 100%;
      padding: 20px 20px;
      min-height: 120px;
      outline: none;
      border: none;
      border-radius: 6px;
      line-height: 20px;
    }
    .form-field{
      padding-bottom: 20px;
    }
  }

  .close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: .4s;
    &:hover{
      transition: .4s;
      color: $green;
    }
  }

  .errors{
    padding-top: 30px;
    p{
      font-size: 16px;
      line-height: 22px;
      i{
        margin-right: 8px;
        font-size: 14px;
        color: #bf2314;
      }
    }
  }

  .buttons{
    display: flex;
    justify-content: flex-end;
    button{
      border: 2px solid transparent;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 18px;
      height: 40px;
      transition: .4s;
      background-color: transparent;
      padding: 0 30px;
      border-radius: 30px;
      margin: 0 20px;
      cursor: pointer;
      &:hover{
        transition: .4s;
      }
      &:last-child{
        margin-right: 0;
      }
    }
    .button{
      &__cancel{
        &:hover{
          color: $red;
        }
      }
      &__save{
        background-color: $green;
        border-color: $green;
        &:hover{
          color: $green;
          background-color: transparent;
        }
      }
    }
  }

  @import "sign-in", "sign-up", "sign-up-2", "sign-up-3", "change-avatar", "change-plan", "search";
}