/**
 * Style for Search popup
 */
#popup-search {
  max-width: 1440px;
  .block {
    padding-bottom: 50px;
  }
  .channels .data-list,
  .playlists .data-list {
    margin-left: -15px;
    margin-right: -15px;
    &::after{
      content: '';
      clear: both;
      display: block;
    }
    span {
      padding: 15px;
    }
  }
  .single-station-template {
    width: 180px;
    padding: 15px;
    float: left;
    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
  }
  .popup-data h6 {
    font-size: 16px;
    line-height: 24px;
    padding: 10px 15px;
    height: 80px;
    overflow: hidden;
  }
  figure {
    display: flex;
    padding: 5px 0;
    //justify-content: space-between;
  }
  .song-actions {
    padding-right: 20px;
    i {
      color: white;
    }
  }
  .more {
    margin-top: 30px;
    border: 2px solid white;
    padding: 15px 50px;
    border-radius: 25px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    transition: .3s;
    display: none;
    &.active {
      display: table;
      opacity: 1;
    }
    &:hover {
      transition: .3s;
      background-color: white;
      color: $background__main;
    }
  }
  .play-stop {
    &[data-status=play]{
      button.play-track{
        display: none;
      }
    }
    &[data-status=stop]{
      button.stop-track{
        display: none;
      }
    }
  }
}