/**
 * Style for Sign Up popup (step 3)
 */


#sign-up-3 {
  .popup-data {
    padding: 40px 100px 10px;
  }
  .pay-type{
    display: flex;
    padding-bottom: 30px;
    .tab{
      width: 50%;
      cursor: pointer;
      background-color: #061026;
      height: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #D5D5D5;
      transition: .3s;
      &.active{
        transition: .3s;
        background-color: #121B2E !important;
      }
      &:hover{
        background-color: #081430;
        transition: .3s;
      }
      .title{
        font-family: $monserrat;
        font-size: 16px;
        font-weight: bold;
        padding-top: 18px;
      }
      &.disabled{
        opacity: .2;
        cursor: not-allowed;
      }
    }
  }
  .plan{
    margin-bottom: 30px;
    padding: 16px 24px;
    background-color: #121B2E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $monserrat;
    font-weight: bold;
    .name span{
      text-transform: uppercase;
    }
    .value{
      color: $green;
      font-size: 36px;
      line-height: 46px;
    }
  }
  form{
    ::placeholder{
      color: #A2A2A2;
    }
    label{
      padding-bottom: 10px;
    }
    .form-field{
      position: relative;
      padding-bottom: 25px;
      &.card-icon::after{
        content: '\f09d';
        font-family: FontAwesome;
        position: absolute;
        line-height: 60px;
        bottom: 25px;
        right: 20px;
        font-size: 26px;
        color: #A2A2A2;
      }
    }
    .row{
      padding: 10px 0 0;
      display: flex;
      justify-content: space-between;
    }
    ._col__1-2{
      width: calc((100% - 50px) / 2);
    }
  }
}