/**
 * Style for Sign In popup
 */

#sign-in{
  //background-color: red;
  .popup-data {
    padding: 10px 50px;
    .login-password{
      padding-top: 30px;
    }
    .forgot-password{
      text-align: right;
      padding-top: 10px;
    }
    .login-submit{
      padding-top: 20px;
    }
    .remember-help{
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
    }
    .forgot-password a,
    .need-help a{
      color: #A2A2A2;
      opacity: .8;
      font-size: 16px;
      transition: .3s;
      &:hover{
        transition: .3s;
        opacity: 1;
      }
    }
    .login-remember label{
      display: flex;
      align-items: center;
      font-size: 16px;
      padding-bottom: 0;
      input{
        margin-right: 8px;
      }

    }
    .sign-up{
      padding-top: 20px;
      font-size: 16px;
      button{
        padding-left: 5px;
      }
    }
  }
}