/**
 * Style for Sign Up popup (step 2)
 */

#sign-up-2 {
  .popup-data {
    padding: 40px 20px 10px;
  }
  .price-data{
    display: flex;
    background-color: #061026;
    margin-bottom: 10px;
  }
  .title{
    display: flex;
    width: 240px;
    background-color: #081430;
    padding: 15px;
    h5{
      text-transform: uppercase;
      font-family: $monserrat;
      font-size: 30px;
    }
    .price{
      font-family: $monserrat;
      font-size: 40px;
      font-weight: bold;
      line-height: 56px;
      color: $green;
    }
    .title-data{
      padding-left: 15px;
    }
  }
  .description{
    width: calc(100% - 240px);
    padding: 20px 25px;
    font-size: 16px;
    line-height: 26px;
    ul{
      list-style: none;
      li{
        &:before{
          content: '\f067';
          font-family: FontAwesome;
          font-size: 12px;
          color: $green;
          line-height: 26px;
          margin-right: 8px;
        }
      }
    }
  }
  .register-submit{
    padding-top: 30px;
  }
  input[type=radio] {
    height: 20px;
    width: 20px;
    margin-top: 5px;
    cursor: pointer;
  }
}