/**
 * Style for Sign Up popup
 */

#sign-up{
  .popup-data {
    padding: 30px 50px 10px;
  }
  form {
    .form-row {
      padding-bottom: 40px;
    }
  }
  .register-description{
    padding-top: 50px;
    p{
      display: flex;
      align-items: center;
      font-size: 18px;
      padding-bottom: 15px;
      &:last-child {
        padding-bottom: 0;
      }
    }
    i{
      color: #22C922;
      font-size: 14px;
      margin-right: 8px;
    }
  }
}