/**
 * Buttons
 */

._button {
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  transition: .3s;
  cursor: pointer;
  &:hover {
    transition: .3s;
  }
  &__green {
    background-color: $green;
    border: 2px solid $green;
    color: white;
    &:hover {
      background-color: transparent;
      color: $green;
    }
  }
  &__small {
    height: 42px;
    font-size: 16px;
    padding: 0 35px;
  }
  &__normal {
    height: 68px;
    font-size: 22px;
    padding: 0 70px;
  }
  &__center {
    margin: 0 auto;
  }
  &__370 {
    width: 100%;
    max-width: 370px;
  }
  &__310 {
    width: 100%;
    max-width: 310px;
  }
  &__disabled {
    opacity: .6;
    color: white !important;
    background-color: #707070 !important;
    border: #707070 !important;
    cursor: not-allowed !important;
  }
  &_ajax {
    position: relative;
    &_load {
      &::after {
        content: '\f110' !important;
        animation: fa-spin 2s infinite linear;
      }
    }
    &_done {
      &::after {
        content: '\f00c' !important;
      }
    }
    &_error {
      &::after {
        content: '\f12a' !important;
      }
    }
    &::after {
      content: '';
      font-family: FontAwesome;
      font-size: 26px;
      display: block;
      position: absolute;
      right: 30px;
    }
  }
}

._button__black {
  cursor: pointer;
  width: 254px;
  background-color: black;
  color: white;
  height: 80px;
  border: 3px solid black;
  transition: .3s;
  font-family: $monserrat;
  font-weight: 600;
  margin: 0;
  outline: none;
  font-size: 28px;
  &:hover {
    background-color: white;
    color: black;
    transition: .3s;
  }
}

._button__more {
  cursor: pointer;
  font-size: 16px;
  font-family: $monserrat;
  display: flex;
  align-items: center;
  height: 40px;
  border: 2px solid white;
  padding: 0 20px;
  border-radius: 20px;
  transition: .3s;
  &:hover {
    transition: .3s;
    background-color: white;
    color: $black;
  }
}

._button__play {
  cursor: pointer;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68px;
  outline: none;
  width: 68px;
  border: 2px solid $green;
  color: white;
  background-color: $green;
  border-radius: 35px;
  transition: .3s;
  &:hover {
    transition: .3s;
    background-color: transparent;
    color: $green;
  }
}

._button__link {
  color: $green;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0;
  font-weight: 600;
  &:hover {
    text-decoration: underline;
  }
}
.button__clear{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: .3s;
  &:hover{
    transition: .3s;
  }
}
.more-tooltip{
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  i{
    opacity: .6;
    color: white;
    font-size: 18px;
    transition: .3s;
  }
  &:hover{
    i{
      transition: .3s;
      opacity: 1;
    }
  }
}