$steps: 300;
$height-track: 8px;
$border-width-input: 2px;
$border-radius-track: $height-track / 2;
$size-thumb: $height-track * 2;
$border-radius-thumb: 10px;
$margin-top-thumb: -(($height-track / 2));
$outline: rgba(0, 0, 0, 0.1);
$blue-ish: #{$green};
$white: #{$green};

input[type=range] {
  -webkit-appearance: none;
  padding: 0;
  border: 0;
  width: 80%; // Firefox needs specific width.
  box-shadow: inset 0 0 0 2px $outline;
  border-radius: $border-radius-track;
  background-color: #323232;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    position: relative;
    width: 100%;
    height: $height-track;
    cursor: pointer;
    background: transparent linear-gradient($blue-ish, $blue-ish) no-repeat;
    border-radius: $border-radius-track;
    background-size: 50% 100%;
  }

  &::-webkit-slider-thumb {
    position: relative;
    border: $border-width-input solid $outline;
    height: $size-thumb;
    width: $size-thumb;
    border-radius: $border-radius-thumb;
    cursor: -webkit-grab;
    -webkit-appearance: none;
    margin-top: $margin-top-thumb;
    background: $white linear-gradient(90deg, transparent 0, transparent 3px, $outline 3px, $outline 4px, transparent 4px, transparent 6px, $outline 6px, $outline 7px, transparent 7px) no-repeat;
    background-position: 50% 50%;
    background-size: 10px 10px;
    transition: all 0.1s ease;

    &:active {
      cursor: -webkit-grabbing;
    }
  }

  @for $i from 0 through $steps {
    &[value='#{$i}']::-webkit-slider-runnable-track {
      background-size: #{$i/3}% 100%;
    }
  }
}

input[type="file"] {
  &.hidden{
    display: none !important;
  }
}