/**
 * Animation
 */

@keyframes mouseMove {
  from {
    bottom: 40px;
  }
  50% {
    bottom: 20px;
  }
  to {
    bottom: 40px;
  }
}

@keyframes radioLive {
  from {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}