/**
 * Default styles
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $background__main;
}

body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 18px;
  color: white;
  &.no-scroll{
    overflow: hidden;
  }
  main {
    transition: .3s;
  }
}

a {
  color: white;
  text-decoration: none;
}

main {
  min-height: calc(100vh - 115px - 90px);
  .admin-bar & {
    min-height: calc(100vh - 115px - 90px - 32px);
  }
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #747474;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background: #1b1b1b;;
  border-radius: 6px;
}

._text{
  &__left{
    text-align: left;
  }
  &__center{
    text-align: center;
  }
  &__right{
    text-align: right;
  }
}
._clearfix{
  &::after{
    content: '';
    display: block;
    clear: both;
  }
}
._d{
  &__flex{
    display: flex;
  }
}
._j-c{
  &__between{
    justify-content: space-between;
  }
  &__center{
    justify-content: center;
  }
}
._a-i{
  &__center{
    align-items: center;
  }
}

.tabs-container{
  .tab-data{
    display: none;
    padding-bottom: 30px;
    &.active{
      display: block;
    }
  }
}