/**
 * Fonts
 */

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Black.eot');
  src: url('../fonts/lato/Lato-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato/Lato-Black.woff2') format('woff2'),
  url('../fonts/lato/Lato-Black.woff') format('woff'),
  url('../fonts/lato/Lato-Black.ttf') format('truetype'),
  url('../fonts/lato/Lato-Black.svg#Lato-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Bold.eot');
  src: url('../fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato/Lato-Bold.woff2') format('woff2'),
  url('../fonts/lato/Lato-Bold.woff') format('woff'),
  url('../fonts/lato/Lato-Bold.ttf') format('truetype'),
  url('../fonts/lato/Lato-Bold.svg#Lato-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Light.eot');
  src: url('../fonts/lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato/Lato-Light.woff2') format('woff2'),
  url('../fonts/lato/Lato-Light.woff') format('woff'),
  url('../fonts/lato/Lato-Light.ttf') format('truetype'),
  url('../fonts/lato/Lato-Light.svg#Lato-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Regular.eot');
  src: url('../fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lato/Lato-Regular.woff2') format('woff2'),
  url('../fonts/lato/Lato-Regular.woff') format('woff'),
  url('../fonts/lato/Lato-Regular.ttf') format('truetype'),
  url('../fonts/lato/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-ExtraBold.eot');
  src: url('../fonts/montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-ExtraBold.woff') format('woff'),
  url('../fonts/montserrat/Montserrat-ExtraBold.ttf') format('truetype'),
  url('../fonts/montserrat/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Light.eot');
  src: url('../fonts/montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-Light.woff') format('woff'),
  url('../fonts/montserrat/Montserrat-Light.ttf') format('truetype'),
  url('../fonts/montserrat/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Bold.eot');
  src: url('../fonts/montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-Bold.woff') format('woff'),
  url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype'),
  url('../fonts/montserrat/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Regular.eot');
  src: url('../fonts/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'),
  url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype'),
  url('../fonts/montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-SemiBold.eot');
  src: url('../fonts/montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
  url('../fonts/montserrat/Montserrat-SemiBold.woff') format('woff'),
  url('../fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype'),
  url('../fonts/montserrat/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}