/**
 * Colors
 */

  $background__main: #040C1D;
  $popup_bg: #040C1D;
  $popup_bg_content: #10285E;
  $black: #141414;
  $green: #22C922;
  $red: #c0392b;

/**
 * Fonts
 */

  $lato: 'Lato', 'Arial', sans-serif;
  $monserrat: 'Montserrat', 'Arial', sans-serif;

/**
 * Grid
 */

  $container: 1680px;


