.dashboard-sidebar-statistic {
  width: 260px;
  padding-top: 110px;
  &__container {
    background-color: #061026;
    border-radius: 20px;
    padding: 40px;
  }
  .element {
    &__counter-block{
      margin-bottom: 20px;
      background-color: #081430;
      padding: 30px 20px 20px;
      border-radius: 20px;
      text-align: center;
      h5 {
        span {
          display: block;
          font-size: 12px;
          font-weight: normal;
          &::before {
            content: '(';
          }
          &::after {
            content: ')';
          }
        }
        padding-bottom: 10px;
      }
      p {
        display: block;
        font-size: 26px;
      }
    }
  }
}