section#audio-player{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .4s;
  background-color: black;
  padding: 15px 70px;
  display: flex;
  z-index: 20;
  align-items: center;
  justify-content: space-between;
  &.hidden{
    bottom: -130px;
    transition: .4s;
  }
  .description{
    display: flex;
    align-items: center;
    .thumbnail{
      width: 92px;
      height: 92px;
      object-fit: cover;
      border-radius: 8px;
    }
    .song-data{
      margin-left: 30px;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 20px;
      h5{
        font-size: 22px;
        padding-bottom: 12px;
      }
      h6{
        font-size: 18px;
        font-weight: 400;
        opacity: .5;
      }
    }
  }
  .buttons-main,
  .helper-buttons{
    display: flex;
    button{
      margin: 0 5px;
      color: white;
      height: 64px;
      width: 64px;
      border: 2px solid transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 35px;
      &:hover{
        border: 2px solid $green;
      }
      &.open,
      &.active{
        background-color: $green;
      }
      &.hidden{
        display: none;
      }
      &.disabled{
        border: 2px solid transparent;
        opacity: .3;
        cursor: auto;
        background-color: transparent;
      }
      &.player-volume{
        position: relative;
        .player-volume-range{
          display: none;
          position: absolute;
          top: 22px;
          width: 60px;
          left: -50px;
          transform: rotate(270deg);
        }
        &.open{
          .player-volume-range{
            display: block;
          }
        }
      }
    }
  }
  .buttons-main{
    &[data-status-hidden=play]{
      button#play-track{
        display: none;
      }
    }
    &[data-status-hidden=pause]{
      button#pause-track{
        display: none;
      }
    }
  }
  .time-line{
    margin: 0 50px;
    width: 580px;
    input{
      width: 100%;
    }
  }
}