section#notifications-popup {
  position: fixed;
  right: 0;
  top: 130px;
  z-index: 201;
  height: auto;
  .admin-bar & {
    top: 162px;
  }
  h6 {
    font-family: $monserrat;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 5px;
  }
  p {
    font-size: 13px;
    line-height: 16px;
  }
  .close-notification {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    i {
      font-size: 20px;
      color: #fddbdd;
      transition: .3s;
    }
    &:hover {
      i {
        color: white;
        transition: .3s;
      }
    }
  }
  article {
    width: 320px;
    border-radius: 6px 0 0 6px;
    padding: 20px 40px 20px 20px;
    margin-bottom: 10px;
    position: relative;
    transition: .4s;
    opacity: 0;
    transform: translateY(50px);
    &.error {
      background-color: rgba(238, 82, 83, 0.6);
      color: #fddbdd;
    }
    &.success {
      background-color: rgba(16, 172, 132, 0.8);
      color: rgb(183, 237, 207);
    }
  }
}