/*
 * Search
 */

div#search {
  position: relative;
  padding-right: 40px;
  padding-left: 15px;
  display: flex;
  font-size: 18px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  //margin-bottom: 15px;
  align-items: center;
  input {
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    &::placeholder {
      text-indent: 0;
      transition: .4s;
      color: white;
      font-size: 18px;
    }
    &:focus::placeholder {
      transition: .4s;
      text-indent: -300px;
    }
  }
  &::after {
    content: '\f002';
    position: absolute;
    font-family: FontAwesome;
    right: 15px;
  }
  .search-result {
    position: absolute;
    top: 40px;
    background: $popup_bg_content;
    width: 100%;
    z-index: 3;
    //padding: 10px 0;
    color: white;
    li {
      padding: 5px 10px;
    }
  }
}