#share-buttons {
  position: fixed;
  left: 20px;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  .share-buttons {
    list-style: none;
    li {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
      color: white;
      border-radius: 18px;
      border: 2px solid white;
      transition: .4s;
      font-size: 14px;
      &:hover {
        transition: .4s;
        background-color: white;
        color: $background__main;
      }
    }
  }
}
