/**
 * Tooltip
 */

.tooltip {
  position: relative;
  .tooltip-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 55;
    background-color: $popup_bg_content;
    padding: 10px 20px;
    width: 170px;
    transition: .4s;
    text-align: left;
    a {
      display: block;
      font-size: 18px;
      line-height: 40px;
      transition: .3s;
      &:hover {
        color: $green;
        transition: .3s;
      }
    }
    &__bottom {
      bottom: 100%;
      right: -30px;
      margin-bottom: 20px;
      &::after {
        content: '';
        position: absolute;
        top: 100%;
        right: 30px;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 12px 0 12px;
        border-color: $popup_bg_content transparent transparent transparent;
      }
    }
    &__medium {
      width: 300px;
    }
  }
  &.open {
    .tooltip-content {
      opacity: 1;
      visibility: visible;
      transition: .4s;
    }
  }
  .edit-playlist i,
  .add-to-playlist i{
    margin-left: 15px;
    color: $green !important;
  }
}