main#user-account{
  .main-container{
    padding: 0 0 0 140px;
    display: flex;
  }
  .sidebar{
    padding-top: 45px;
    position: sticky;
    top: 113px;
    left: 0;
    width: 360px;
    //height: 100%;
    background-color: #081430;
    height: calc(100vh - 113px);
    .admin-bar & {
      top: 147px;
      height: calc(100vh - 147px);
    }
    .logo{
      margin: 0 auto;
      width: 120px;
      height: 120px;
      border-radius: 60px;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .menu{
      padding-top: 35px;
      list-style: none;
      li{
        height: 56px;
        display: flex;
        align-items: center;
        background-color: transparent;
        transition: .3s;
        border-left: 4px solid transparent;
        padding-left: 50px;
        &.active{
          border-left: 4px solid $green;
          background-color: #061026;
          transition: .3s;
        }
        &:hover{
          background-color: #061026;
          transition: .3s;
        }
        a{
          font-size: 18px;
          i{
            margin-right: 20px;
          }
        }
      }
    }
  }
  .content{
    width: calc(100% - 360px);
    //padding-left: 150px;
    section{
      padding: 0 140px 50px;
      &#user-banner{
        padding: 0 30px 30px;
      }
      //padding-bottom: 50px;
      h4{
        font-size: 42px;
        font-family: $monserrat;
        line-height: 52px;
        padding-top: 42px;
        padding-bottom: 50px;
      }
      button._button{
        margin-top: 50px;
      }
      .section-data{
        padding: 20px 25px;
        background-color: #061026;
        width: 100%;
        max-width: 670px;
        h5{
          font-size: 26px;
          padding: 20px 0 10px;
          font-family: $monserrat;
        }
        p{
          font-size: 18px;
          line-height: 26px;
          padding-bottom: 20px;
          &:last-child{
            padding-bottom: 0;
          }
        }
      }
    }
  }
  #my-plan{
    .section-data{
      padding: 0;
      display: flex;
      align-items: center;
      .plan-title{
        width: 33.33%;
        padding: 20px 25px;
        background-color: #081430;
        font-family: $monserrat;
        h6{
          font-size: 30px;
          font-weight: bold;
          text-transform: uppercase;
        }
        .price{
          color: $green;
          font-size: 40px;
          line-height: 60px;
          font-weight: bold;
        }
      }
      .plan-description{
        padding: 20px 25px;
        font-size: 16px;
        line-height: 26px;
        width: 66.66%;
      }
    }
  }
  #account-overview{
    //max-width: 530px;
    .section-data > div{
      display: flex;
      height: 60px;
      align-items: center;
      justify-content: space-between;
      span{
        color: #A2A2A2;
        font-size: 18px;
        &:first-child{
          opacity: .8;
        }
        &.capitalize{
          text-transform: capitalize;
        }
      }
    }
  }
  #terms{
    padding-bottom: 0;
  }
  #user-banner{
    img{
      width: 100%;
    }
  }
  form{
    width: 100%;
    max-width: 530px;
    color: gray;
    label{
      font-size: 18px;
      display: block;
      color: #A2A2A2;
      opacity: .8;
      padding-bottom: 10px;
      &.file-label{
        height: 68px;
        width: auto;
        opacity: 1;
        text-transform: uppercase;
        font-size: 22px;
        align-items: center;
        color: white;
        cursor: pointer;
        padding: 40px;
        border-radius: 40px;
        display: flex;
        justify-content: space-between;
        background-color: $green;
        transition: .3s;
        font-weight: 600;
        border: 2px solid $green;
        i{
          font-size: 50px;
          opacity: 1;
          &.hidden{
            opacity: 0;
          }
        }
        &:hover{
          color: $green;
          transition: .3s;
          background-color: transparent;
        }
      }
    }
    select{
      width: 100%;
      height: 60px;
      padding: 20px;
      outline: none;
      margin: 0;
      border: none;
      border-radius: 8px;
    }
    input{
      height: 60px;
      width: 100%;
      outline: none;
      display: flex;
      align-items: center;
      padding: 0 20px;
      border-radius: 6px;
      margin: 0;
      font-size: 18px;
      border: none;
    }
    .form-field{
      margin-bottom: 25px;
      position: relative;
      &[data-pass-status=open] button[data-status=open],
      &[data-pass-status=close] button[data-status=close]{
        display: block;
      }
      .select-row{
        display: flex;
        justify-content: space-between;
        .col-1-3{
          width: 28%;
        }
      }
      button{
        position: absolute;
        bottom: 17px;
        right: 15px;
        height: 26px;
        margin: 0;
        padding: 0;
        outline: none;
        background: transparent;
        line-height: 26px;
        border: none;
        cursor: pointer;
        i{
          font-size: 24px;
          opacity: .7;
          transition: .3s;
        }
        &:hover{
          i{
            transition: .3s;
            opacity: 1;
          }
        }
        &[data-status=open] , &[data-status=close]{
          display: none;
        }
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}