body:not(.logged-in) {
  &.home {
    background-image: url("/wp-content/themes/radio/assets/img/home_bg.jpg");
    background-size: cover;
  }
}

main.home-page {
  &.not-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    .home-container {
      width: 820px;
      h3 {
        text-transform: uppercase;
        font-size: 105px;
        font-weight: 900;
        font-family: $monserrat;
        line-height: 128px;
      }
      > p {
        font-size: 32px;
        padding-bottom: 30px;
      }
    }
    .sign-up-data {
      p {
        font-size: 26px;
        padding: 0 25px;
      }
      display: flex;
      padding-right: 100px;
      justify-content: center;
      align-items: center;
    }
    form {
      label {
        height: 72px;
        width: 72px;
        background-color: white;
        border-radius: 0 6px 6px 0;
        i {
          font-size: 21px;
          color: $black;
        }
      }
      input {
        width: calc(100% - 72px);
        line-height: 72px;
        padding: 0 20px;
        border-radius: 6px 0 0 6px;
        margin: 0;
        border: none;
        outline: none;
      }
      padding-bottom: 60px;
    }
  }
  .main-screen {
    position: relative;
    background-size: cover;
    background-position: center center;
    height: calc(75vh - 113px);
    .box {
      background-color: rgba(0, 0, 0, 0.7);
      padding: 30px;
      text-align: center;
      border-radius: 8px;
      margin-bottom: 40px;
      h2 {
        font-size: 55px;
        padding-bottom: 25px;
      }
      h4 {
        max-width: 680px;
        font-size: 32px;
        line-height: 50px;
        margin: 0 auto;
      }
      p {
        margin: 0 auto;
        max-width: 100%;
        font-size: 24px;
        line-height: 32px;
        a {
          color: $red;
        }
      }
    }
    .admin-bar & {
      height: calc(75vh - 113px - 32px);
    }
    h3 {
      font-size: 105px;
      line-height: 128px;
      font-weight: 900;
      font-family: $monserrat;
    }
    p {
      width: 100%;
      max-width: 780px;
      font-size: 32px;
      line-height: 40px;
    }
    .buttons {
      padding-top: 40px;
      button {
        margin-right: 35px;
        &:last-child {
          margin-right: 0;
        }
        i {
          margin-right: 15px;
        }
      }
    }
    .mouse {
      position: absolute;
      bottom: 40px;
      right: 0;
      left: 0;
      text-align: center;
      animation: mouseMove 2s;
      animation-iteration-count: infinite;
    }
  }
  .stations-list {
    padding: 90px 0 40px;
    h4 {
      display: flex;
      align-items: center;
      padding-bottom: 30px;
      font-family: $monserrat;
      font-size: 42px;
      a {
        margin-left: 20px;
      }
    }
    .carousel-main-page {
      float: right;
      width: calc(100% - (100% - #{$container}) / 2 - 20px);
      .owl-station {
        width: 275px;
      }
      @media all and (max-width: 1670px){
        width: 100%;
      }
    }
  }
  .single-station {
    &:hover {
      .image-block img {
        transition: .3s;
        transform: scale(1.1);
      }
    }
    .image-block {
      height: 275px;
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.7);
      img {
        height: 100%;
        width: 100%;
        transition: .3s;
        object-fit: cover;
      }
    }
    h5 {
      padding-top: 12px;
      font-size: 22px;
      font-weight: 600;
    }
    p {
      padding-top: 5px;
      opacity: .5;
      font-size: 18px;
    }
  }
  &.auth{
    .main-screen{
      overflow: hidden;
      ._container{
        position: relative;
        z-index: 2;
      }
      video{
        position: absolute;
        top: 0;
        left: 0;
        width: 150%;
        margin: 0 -25%;
      }
    }
  }
}