/*
 * My Playlists page
 */

main.playlist-page{
  padding: 40px 65px 0;
  h2 {
    font-family: $monserrat;
    font-size: 42px;
    padding: 10px 0 15px calc(15% + 25px);
    font-weight: 600;
  }
  .playlists-container {
    width: 85%;
    float: left;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    article{
      padding: 5px;
      .playlists-songs{
        img{
          width: 50%;
          height: 50%;
          object-fit: cover;
          float: left;
          display: block;
        }
      }
      .playlists-songs,
      .add-new-playlist{
        background-color: rgba(255, 255, 255, 0.05);
        width: 276px;
        height: 276px;
        border-radius: 8px;
        overflow: hidden;
      }
      h6{
        font-family: $monserrat;
        font-size: 16px;
        line-height: 20px;
        padding-top: 10px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      p{
        font-size: 14px;
        line-height: 20px;
        opacity: .6;
      }
    }
    .add-new-playlist{
      display: flex;
      align-items: center;
      justify-content: center;
      button{
        background-color: transparent;
        line-height: 1;
        outline: none;
        border: none;
        cursor: pointer;
        i{
          color: #040c1e;
          font-size: 120px;
          transition: .4s;
        }
        &:hover i{
          color: $green;
          transition: .4s;
        }
      }
    }
  }
}