#rest-api-data{
  padding-top: 40px;
  display: flex;
  h3{
    font-size: 32px;
    padding-bottom: 16px;
    font-family: $monserrat;
  }
  h4{
    padding-bottom: 25px;
    font-size: 24px;
    opacity: .6;
    span{
      padding: 0 15px;
    }
  }
  .sidebar{
    padding-left: 50px;
    ul{
      list-style: none;
      position: sticky;
      top: 175px;
      button{
        color: white;
        font-size: 14px;
        line-height: 1.4;
        margin: 3px 0;
      }
    }
  }
  .container {
    max-width: 1020px;
    margin: 0 auto;
    width: 100%;
  }
  .endpoint{
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 30px;
    padding: 20px 40px;
    border-radius: 8px;
    h5{
      font-size: 26px;
      padding-bottom: 5px;
    }
    h6{
      font-size: 18px;
      padding-bottom: 5px;
      opacity: .7;
    }
    p{
      padding-bottom: 15px;
      font-size: 14px;
      opacity: .7;
    }
    .main-data{
      display: flex;
      align-items: center;
    }
    .type{
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      border-radius: 6px;
      background-color: rgba(255, 255, 255, 0.1);
      margin-right: 30px;
    }
    &.post{
      .type{
        background-color: #f39c12;
      }
      .params-data p span{
        color: #f39c12;
      }
    }
    &.put{
      .type{
        background-color: #3498db;
      }
      .params-data p span{
        color: #3498db;
      }
    }
    &.get{
      .type{
        background-color: #27ae60;
      }
      .params-data p span{
        color: #27ae60;
      }
    }
    &.delete{
      .type{
        background-color: #c0392b;
      }
      .params-data p span{
        color: #c0392b;
      }
    }
    .main-description{
      .data{
        padding: 20px 20px 0 130px;
        h6{
          padding-bottom: 15px;
        }
        p{
          padding-bottom: 10px;
          span{
            padding: 0 5px;
          }
        }
      }
    }
  }
}