#single-playlist{
  .station-data{
    .thumbnail{
      background-color: rgba(255, 255, 255, 0.1);
      overflow: hidden;
      border-radius: 8px;
      img{
        display: block;
        float: left;
        width: 50%;
        height: 50%;
        border-radius: 0;
      }
    }
    .description{
      .buttons{
        padding-top: 20px;
        button{
          opacity: .6;
          color: white;
          margin-right: 20px;
          &:hover{
            opacity: 1;
          }
        }
      }
    }
  }
  .station-songs{
    .thumbnail{
      width: 92px;
      height: 92px;
      object-fit: cover;
      border-radius: 8px;
      margin-right: 16px;
    }
    .index{
      width: 50px;
      opacity: .5;
    }
  }
}