/**
 * Single station page
 */
main.station-page{
  padding: 40px 60px;
  &::after{
    content: '';
    clear: both;
    display: block;
  }
  .station-container {
    width: 85%;
    padding: 0 40px;
    float:left;

  }
  .sidebar{
    padding-top: 60px;
  }

  .station-data {
    display: flex;
    .thumbnail {
      height: 275px;
      width: 275px;
      img{
        border-radius: 8px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .description{
      width: calc(100% - 280px);
      padding-left: 30px;
      h2{
        font-size: 28px;
        display: flex;
        align-items: center;
        button{
          margin-left: 25px;
        }
      }
      .type {
        opacity: .5;
        font-size: 18px;
      }
      .data{
        padding-top: 20px;
        font-size: 18px;
        line-height: 28px;
        max-width: 480px;
      }
    }
  }
  .station-songs{
    padding-top: 40px;
    h4{
      font-size: 26px;
      font-family: $monserrat;
      font-weight: 600;
      padding-bottom: 20px;
    }
    figure{
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &.hidden {
        opacity: 0;
        //visibility: hidden;
        transition: .4s;
        display: none;
        &.active {
          display: flex;
          opacity: 1;
          //visibility: visible;
          transition: .4s;
        }
      }
      .description{
        display: flex;
        align-items: center;
        h5{
          font-size: 16px;
          font-weight: bold;
          line-height: 18px;
        }
        h6{
          font-size: 14px;
          font-weight: 400;
          padding-top: 5px;
          line-height: 16px;
          opacity: .5;
          span{
            padding-right: 5px;
          }
        }
        .title-container{
          width: 320px;
        }
      }
      .song-data {
        .audio-time {
          font-size: 16px;
          opacity: .5;
        }
      }
      .song-actions{
        display: flex;
        align-items: center;
        button{
          margin: 0 10px;
          color: white;
          width: 36px;
          height: 36px;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover{
            background-color: $green;
          }
        }
      }
    }
  }
}