main.stations-page {
  padding: 30px 65px 0;
  h2 {
    font-family: $monserrat;
    font-size: 42px;
    padding: 10px 0 15px calc(15% + 25px);
    font-weight: 600;
  }
  .stations-container {
    width: 85%;
    float: left;
    padding: 0 20px;
  }
  article.single-station {
    cursor: pointer;
    width: 20%;
    padding: 5px 5px 50px;
    float: left;
    &:hover {
      img {
        transition: .3s;
        transform: scale(1.05);
      }
    }
    &.hidden{
      opacity: 0;
      visibility: hidden;
      height: 0;
      width: 0;
      padding: 0;
      overflow: hidden;
    }
    .image-block {
      border-radius: 8px;
      height: 250px;
      overflow: hidden;
      box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.7);
    }
    img {
      transition: .3s;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    h5 {
      font-size: 22px;
      padding: 12px 0;
    }
    .station-categories {
      a {
        opacity: .5;
        transition: .3s;
        padding-right: 5px;
        &::after{
          content: '/';
          padding-left: 5px;
        }
        &:hover{
          transition: .3s;
          opacity: .8;
        }
        &:last-child{
          &::after{
            content: none;
          }
          margin-right: 0;
        }
      }
    }
  }
}