#songs-duration-update {
  padding: 30px;
  margin: 0 auto;
  max-width: 1160px;
  h2 {
    padding-bottom: 20px;
  }
  .track-data {
    display: flex;
    line-height: 18px;
    font-size: 14px;
    align-items: center;
    span {
      font-size: 12px;
      opacity: .6;
      padding-right: 10px;
    }
  }
  button {
    margin: 30px 0;
    outline: none;
    background-color: transparent;
    color: white;
    font-weight: 600;
    transition: .3s;
    &._button_ajax_load,
    &._button_ajax_done {
      padding-right: 70px;
    }
    &:hover{
      transition: .3s;
      background-color: white;
      color: $background__main;
    }
  }
}